.lista {
    text-align:center;
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(248, 248, 248, .9);
    font-size: 25px;
    font-weight: 300;
    color: #232323;
}
.sky-form header {
    text-align: center;
    display: block;
    padding: 20px 30px;
    border-bottom: 3px solid #181A3D;
    background: rgba(42, 58, 77, 0.9);
    font-size: 25px;
    font-weight: 300;
    color: #232323;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
    min-height: 45px;
    border-left-width: 0px;
}
.sky-form fieldset {
    display: block;
    padding: 25px 30px 5px;
    min-height: 49px;
    background-image:none;
    background-attachment:initial;
    border-width:0 2px 3px 2px;
    border-style:solid;
    border-color:rgba(24, 26, 61, 0.246094) #2C2C4F #2C2C4F #2C2C4F;
    background-color:rgba(51, 71, 95, 0.9);
}
.sky-form .fundo_darker {
    background-color: rgba(29, 42, 56, 0.67);
    border-width:0px;
    margin-bottom:20px;
}
.sky-form fieldset + fieldset {
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
    padding-bottom: 25px;
    min-height: 91px;
    background-color: rgba(42, 58, 77, 0.9);
    border-top-width: 0;
    border-top-style: solid;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-left-width: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #2C2C4F;
    border-right-color: #2C2C4F;
    border-bottom-color: #2C2C4F;
    border-left-color: #2C2C4F;
}
.sky-form section {
    margin-bottom: 20px;
    border-style:solid;
    border-width:0;
    min-height:76px;
}
.sky-form footer {
    display: block;
    padding: 15px 30px 25px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-color:#181A3D;
    border-style:solid;
    border-width:1px;
    margin-top:30px;
    background-image:none;
    background-attachment:initial;
}
.sky-form footer:after {
    content: '';
    display: table;
    clear: both;
}
.sky-form a {
    color: #2da5da;
}
.sky-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
}
.sky-form .label.col {
    margin: 0;
    padding-top: 10px;
}
.sky-form .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
    border-right-width:3px;
    border-style:solid;
}
.sky-form .input, .sky-form .select, .sky-form .textarea, .sky-form .radio, .sky-form .checkbox, .sky-form .toggle, .sky-form .botao_amarelo, .sky-form .btn_amarelo {
    position: relative;
    display: block;
    border-style:solid;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    outline: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    min-height: 39px;
}
.sky-form .progress {
    float: right;
    margin-top: 10px;
    line-height: 39px;
    color: #232323;
    border-right-width:0px;
}
/**/

/* captcha inputs */

/**/
 .sky-form .input-captcha img {
    position: absolute;
    top: 2px;
    right: 2px;
    border-left: 1px solid #e5e5e5;
}
/**/

/* file inputs */

/**/
 .sky-form .input-file .botao_amarelo, .sky-form .input-file .btn_amarelo {
    position: absolute;
    top: 4px;
    right: 4px;
    float: none;
    height: 31px;
    margin: 0;
    padding: 0 20px;
    font-size: 13px;
    line-height: 31px;
    text-transform:uppercase;
}
/**/

/* selects */

/**/
 .sky-form .select i {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 5px;
    height: 11px;
    background: #fff;
    box-shadow: 0 0 0 12px #fff;
    -moz-box-shadow: 0 0 0 12px #fff;
    -webkit-box-shadow: 0 0 0 12px #fff;
}
.sky-form .select i:after, .sky-form .select i:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.sky-form .select-multiple select {
    height: auto;
}
/**/

/* textareas */

/**/
 .sky-form .textarea textarea {
    height: auto;
    resize: none;
}
.sky-form .textarea-resizable textarea {
    resize: vertical;
    background-color:#294655;
    color:#FFFFFF;
}
.sky-form .textarea-expandable textarea {
    height: 39px;
}
.sky-form .textarea-expandable textarea:focus {
    height: auto;
}
.sky-form .radio input, .sky-form .checkbox input {
    position: absolute;
    left: -9999px;
}
.sky-form .radio i, .sky-form .checkbox i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 13px;
    height: 13px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    background: #fff;
}
.sky-form .radio i {
    border-radius: 50%;
}
.sky-form .radio input:checked + i:after, .sky-form .checkbox input:checked + i:after {
    opacity: 1;
}
.sky-form .inline-group {
    margin: 0 -30px -4px 0;
}
.sky-form .inline-group .radio:last-child, .sky-form .inline-group .checkbox:last-child {
    margin-bottom: 4px;
}
/**/

/* toggles */

/**/
 .sky-form .toggle {
    margin-bottom: 4px;
    padding-right: 61px;
    font-size: 15px;
    line-height: 27px;
    color: #404040;
    cursor: pointer;
}
.sky-form .toggle:last-child {
    margin-bottom: 0;
}
.sky-form .toggle input {
    position: absolute;
    left: -9999px;
}
.sky-form .toggle i {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    width: 49px;
    height: 17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    background: #fff;
}
.sky-form .toggle i:after {
    content: 'OFF';
    position: absolute;
    top: 2px;
    right: 8px;
    left: 8px;
    font-style: normal;
    font-size: 9px;
    line-height: 13px;
    font-weight: 700;
    text-align: left;
    color: #5f5f5f;
}
.sky-form .toggle i:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 4px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    opacity: 1;
    -ms-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -webkit-transition: right 0.2s;
}
.sky-form .toggle input:checked + i:after {
    content: 'ON';
    text-align: right;
}
.sky-form .toggle input:checked + i:before {
    right: 36px;
}
.sky-form .rating:last-child {
    margin-bottom: 0;
    color: #999999;
}
.sky-form .rating input {
    position: absolute;
    left: -9999px;
}
.sky-form .rating label {
    display: block;
    float: right;
    height: 17px;
    margin-top: 5px;
    padding: 0 2px;
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
}
/**/

/* buttons */

/**/
 .sky-form .botao_amarelo, .sky-form .btn_amarelo {
    float: right;
    height: 39px;
    overflow: hidden;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    outline: none;
    border: 0;
    font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.sky-form .button-uploading {
    position: relative;
    color: transparent;
    cursor: default;
}
.sky-form .button-uploading:after {
    content: 'Uploading...';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -o-animation: blink 1s linear infinite;
    -ms-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    -webkit-animation: blink 1s linear infinite;
}
/**/

/* icons */

/**/
 .sky-form .icon-append, .sky-form .icon-prepend {
    position: absolute;
    top: 5px;
    width: 29px;
    height: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
}
.sky-form .icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}
.sky-form .icon-prepend {
    left: 5px;
    padding-right: 3px;
    border-right-width: 1px;
    border-right-style: solid;
}
.sky-form .input .icon-prepend + input, .sky-form .textarea .icon-prepend + textarea {
    padding-left: 46px;
}
.sky-form .input .icon-append + input, .sky-form .textarea .icon-append + textarea {
    padding-right: 46px;
}
.sky-form .input .icon-append + #date {
    background-color: #294655;
    color:#FFFFFF;
}
.sky-form .input .icon-append + #hour {
    background-color: #294655;
    color:#FFFFFF;
}
.sky-form .input .icon-append + #wait {
    background-color: #294655;
    color:#FFFFFF;
}
.sky-form .input .icon-prepend + .icon-append + input, .sky-form .textarea .icon-prepend + .icon-append + textarea {
    padding-left: 46px;
}
/**/

/* grid */

/**/
 .sky-form .row {
    margin: 0 -15px;
}
.sky-form .row:after {
    content: '';
    display: table;
    clear: both;
}
.sky-form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.sky-form .col-1 {
    width: 8.33%;
}
.sky-form .col-2 {
    width: 16.66%;
}
.sky-form .col-3 {
    width: 25%;
}
.sky-form .col-4 {
    width: 33.33%;
}
.sky-form .col-5 {
    width: 41.66%;
}
.sky-form .col-6 {
    width: 50%;
}
.sky-form .col-7 {
    width: 58.33%;
}
.sky-form .col-8 {
    width: 66.67%;
}
.sky-form .col-9 {
    width: 75%;
}
.sky-form .col-10 {
    width: 83.33%;
}
.sky-form .col-11 {
    width: 91.66%;
}
@media screen and (max-width: 600px) {
    .sky-form .col {
        float: none;
        width: 100%;
    }
}
/**/

/* tooltips */

/**/
 .sky-form .tooltip {
    position: absolute;
    z-index: 1;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    opacity: 0;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}
.sky-form .tooltip:after {
    content: '';
    position: absolute;
}
.sky-form .input input:focus + .tooltip, .sky-form .textarea textarea:focus + .tooltip {
    opacity: 1;
}
.sky-form .tooltip-top-right {
    bottom: 100%;
    margin-bottom: 15px;
}
.sky-form .tooltip-top-right:after {
    top: 100%;
    right: 16px;
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-top-right, .sky-form .textarea textarea:focus + .tooltip-top-right {
    right: 0;
    left: auto;
    margin-bottom: 5px;
}
.sky-form .tooltip-top-left {
    bottom: 100%;
    margin-bottom: 15px;
}
.sky-form .tooltip-top-left:after {
    top: 100%;
    left: 16px;
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    float:none;
    width:100%;
    min-height:25px;
    padding:5px;
    margin-right:10px;
}
.sky-form .input input:focus + .tooltip-top-left, .sky-form .textarea textarea:focus + .tooltip-top-left {
    right: auto;
    left: 0;
    margin-bottom: 5px;
}
.sky-form .tooltip-right {
    top: 9px;
    white-space: nowrap;
    margin-left: 80px;
    width:92px;
}
.sky-form .tooltip-right:after {
    top: 6px;
    right: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid rgba(0, 0, 0, 0.9);
    border-bottom: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-right, .sky-form .textarea textarea:focus + .tooltip-right {
    left: 100%;
    margin-left: 5px;
}
.sky-form .tooltip-left {
    top: 9px;
    white-space: nowrap;
    margin-right: 15px;
}
.sky-form .tooltip-left:after {
    top: 6px;
    left: 100%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgba(0, 0, 0, 0.9);
}
.sky-form .input input:focus + .tooltip-left, .sky-form .textarea textarea:focus + .tooltip-left {
    right: 100%;
    left: auto;
    margin-right: 5px;
}
.sky-form .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}
.sky-form .tooltip-bottom-right:after {
    bottom: 100%;
    right: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-bottom-right, .sky-form .textarea textarea:focus + .tooltip-bottom-right {
    right: 0;
    left: auto;
    margin-top: 5px;
}
.sky-form .tooltip-bottom-left {
    top: 100%;
    margin-top: 15px;
}
.sky-form .tooltip-bottom-left:after {
    bottom: 100%;
    left: 16px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-bottom-left, .sky-form .textarea textarea:focus + .tooltip-bottom-left {
    right: auto;
    left: 0;
    margin-top: 5px;
}
/**/

/* normal state */

/**/
 .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
    border-color: #e5e5e5;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
.sky-form .input .customClass4 {
    background-color: #b3b3b3;
}
.sky-form .input .customClass3 {
    background-color: #b3b3b3;
}
.sky-form .input .customClass2 {
    background-color: #b3b3b3;
    float:left;
}
.sky-form .input .customClass1 {
    background-color: #294655;
    color:#FFFFFF;
}
.sky-form .input .customClass {
    background-color: #294655;
    color:#FFFFFF;
}
.sky-form .toggle i:before {
    background-color: #2da5da;
}
.sky-form .rating label {
    color: #ccc;
    -ms-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
}
.sky-form .botao_amarelo, .sky-form .btn_amarelo {
    background-color: #f3cf3f;
    opacity: 0.8;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    margin-left:10px;
    margin-right:60px;
    border-bottom-color:#CFB036;
    border-bottom-width:3px;
}
.sky-form .button.button-secondary {
    background-color: #b3b3b3;
}
.sky-form .botao_amarelo, .sky-form .btn_amarelo {
    background-color:rgb(243, 207, 63);
    opacity:0.8;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:initial;
    -webkit-transition-delay:initial;
    margin-left:10px;
    margin-right:60px;
    border-bottom-color:rgb(207, 176, 54);
    border-bottom-width:3px;
    -webkit-transform:none;
    -webkit-box-shadow:none;
}
.sky-form .botao_amarelo, .sky-form .btn_amarelo {
    background-color:rgb(243, 207, 63);
    opacity:0.8;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:initial;
    -webkit-transition-delay:initial;
    margin-left:10px;
    margin-right:60px;
    border-bottom-color:rgb(207, 176, 54);
    border-bottom-width:3px;
    -webkit-transform:none;
    -webkit-box-shadow:none;
}
.sky-form .icon-append, .sky-form .icon-prepend {
    color: #ccc;
    float:none;
    width:65px;
}
.sky-form .botao_amarelo, .sky-form .btn_amarelo {
    background-color:rgb(243, 207, 63);
    opacity:0.8;
    -webkit-transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:initial;
    -webkit-transition-delay:initial;
    margin-left:10px;
    margin-right:10px;
    border-bottom-color:rgb(207, 176, 54);
    border-bottom-width:3px;
    -webkit-transform:none;
    -webkit-box-shadow:none;
    min-height:25px;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-left:5px;
}
/**/

/* hover state */

/**/
 .sky-form .input:hover input, .sky-form .select:hover select, .sky-form .textarea:hover textarea, .sky-form .radio:hover i, .sky-form .checkbox:hover i, .sky-form .toggle:hover i, .sky-form .ui-slider-handle:hover {
    border-color: #fad852;
}
.sky-form .rating input + label:hover, .sky-form .rating input + label:hover ~ label {
    color: #e9bd10;
}
.sky-form .button:hover {
    opacity: 1;
    background-color:#e9bd10;
    border-bottom-color:#AA9028;
}
/**/

/* focus state */

/**/
 .sky-form .input input:focus, .sky-form .select select:focus, .sky-form .textarea textarea:focus, .sky-form .radio input:focus + i, .sky-form .checkbox input:focus + i, .sky-form .toggle input:focus + i {
    border-color: #e9bd10;
}
/**/

/* checked state */

/**/
 .sky-form .radio input + i:after {
    background-color: #2da5da;
}
.sky-form .checkbox input + i:after {
    color: #2da5da;
}
.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i {
    border-color: #2da5da;
}
.sky-form .rating input:checked ~ label {
    color: #e9bd10;
}
/**/

/* error state */

/**/
 .sky-form .state-error input, .sky-form .state-error select, .sky-form .state-error textarea, .sky-form .radio.state-error i, .sky-form .checkbox.state-error i, .sky-form .toggle.state-error i {
    background: #fff0f0;
}
.sky-form .state-error select + i {
    background: #fff0f0;
    box-shadow: 0 0 0 12px #fff0f0;
    -moz-box-shadow: 0 0 0 12px #fff0f0;
    -webkit-box-shadow: 0 0 0 12px #fff0f0;
}
.sky-form .toggle.state-error input:checked + i {
    background: #fff0f0;
}
.sky-form .state-error + em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ee9393;
}
.sky-form .rating.state-error + em {
    margin-top: -4px;
    margin-bottom: 4px;
}
/**/

/* success state */

/**/
 .sky-form .state-success input, .sky-form .state-success select, .sky-form .state-success textarea, .sky-form .radio.state-success i, .sky-form .checkbox.state-success i, .sky-form .toggle.state-success i {
    background: #f0fff0;
}
.sky-form .state-success select + i {
    background: #f0fff0;
    box-shadow: 0 0 0 12px #f0fff0;
    -moz-box-shadow: 0 0 0 12px #f0fff0;
    -webkit-box-shadow: 0 0 0 12px #f0fff0;
}
.sky-form .toggle.state-success input:checked + i {
    background: #f0fff0;
}
.sky-form .state-success + em {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ee9393;
}
.sky-form .note-success {
    color: #6fb679;
}
/**/

/* disabled state */

/**/
 .sky-form .input.state-disabled input, .sky-form .select.state-disabled, .sky-form .textarea.state-disabled, .sky-form .radio.state-disabled, .sky-form .checkbox.state-disabled, .sky-form .toggle.state-disabled, .sky-form .botao_amarelo.state-disabled, .sky-form .btn_amarelo.state-disabled {
    cursor: default;
    opacity: 0.5;
}
.sky-form .input.state-disabled:hover input, .sky-form .select.state-disabled:hover select, .sky-form .textarea.state-disabled:hover textarea, .sky-form .radio.state-disabled:hover i, .sky-form .checkbox.state-disabled:hover i, .sky-form .toggle.state-disabled:hover i {
    border-color: #e5e5e5;
}
.sky-form .input.state-disabled input, .sky-form .select.state-disabled, .sky-form .textarea.state-disabled, .sky-form .radio.state-disabled, .sky-form .checkbox.state-disabled, .sky-form .toggle.state-disabled, .sky-form .botao_amarelo.state-disabled, .sky-form .btn_amarelo.state-disabled {
    cursor:default;
    opacity:0.5;
    -webkit-transform:none;
    -webkit-box-shadow:none;
}
.sky-form .input.state-disabled input, .sky-form .select.state-disabled, .sky-form .textarea.state-disabled, .sky-form .radio.state-disabled, .sky-form .checkbox.state-disabled, .sky-form .toggle.state-disabled, .sky-form .botao_amarelo.state-disabled, .sky-form .btn_amarelo.state-disabled {
    cursor:default;
    opacity:0.5;
    -webkit-transform:none;
    -webkit-box-shadow:none;
}
/**/

/* submited state */

/**/
 .sky-form .message {
    display: none;
    color: #6fb679;
}
.sky-form .input.state-disabled input, .sky-form .select.state-disabled, .sky-form .textarea.state-disabled, .sky-form .radio.state-disabled, .sky-form .checkbox.state-disabled, .sky-form .toggle.state-disabled, .sky-form .botao_amarelo.state-disabled, .sky-form .btn_amarelo.state-disabled {
    cursor:default;
    opacity:0.5;
    -webkit-transform:none;
    -webkit-box-shadow:none;
}
.sky-form .message i {
    display: block;
    margin: 0 auto 20px;
    width: 81px;
    height: 81px;
    border: 1px solid #6fb679;
    border-radius: 50%;
    font-size: 30px;
    line-height: 81px;
}
.sky-form.submited fieldset, .sky-form.submited footer {
    display: none;
}
.sky-form.submited .message {
    display: block;
    padding: 25px 30px;
    background: rgba(255, 255, 255, .9);
    font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
}
/**/

/* datepicker */

/**/
 .ui-datepicker {
    display: none;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #666;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ui-datepicker a {
    color: #404040;
}
.ui-datepicker-header {
    position: relative;
    margin: -10px -12px 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: 15px;
    line-height: 27px;
}
.ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 0;
    display: block;
    width: 47px;
    height: 47px;
    font-size: 15px;
    line-height: 47px;
    text-decoration: none;
    cursor: pointer;
}
.ui-datepicker-prev {
    left: 0;
}
.ui-datepicker-next {
    right: 0;
}
.ui-datepicker-calendar {
    border-collapse: collapse;
    font-size: 13px;
    line-height: 27px;
}
.ui-datepicker-calendar th {
    color: #999;
}
.ui-datepicker-calendar a, .ui-datepicker-calendar span {
    display: block;
    width: 31px;
    margin: auto;
    text-decoration: none;
    color: #404040;
}
.ui-datepicker-calendar a:hover {
    background: rgba(0, 0, 0, .05);
}
.ui-datepicker-calendar span {
    color: #bfbfbf;
}
.ui-datepicker-today a {
    font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
    background: rgba(0, 0, 0, .05);
    cursor: default;
}
.ui-datepicker-inline {
    border: 2px solid #e5e5e5;
    background: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
    line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
    width: 100%;
}
/**/

/* datepicker */

/**/
 .sky-form .ui-slider {
    position: relative;
    height: 3px;
    border: 2px solid #e5e5e5;
    background: #fff;
    margin: 12px 6px 26px;
}
.sky-form .ui-slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin: -8px 0 0 -8px;
    border: 2px solid #e5e5e5;
    outline: none;
    background: #fff;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
/**/

/* modal */

/**/
 .sky-form-modal {
    position: fixed;
    z-index: 1;
    display: none;
    width: 400px;
}
.sky-form-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
/**/

/* bootstrap compatibility */

/**/
 .sky-form *, .sky-form *:after, .sky-form *:before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.rating h1 {
    text-transform:uppercase;
    color:#999999;
}
.label p {
    color: #FFFFFF;
}
.sky-form .label {
    border-radius: 0;
    font-size: 100%;
    text-align: center;
    white-space: normal;
    color: #FFF;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sky-form .radio, .sky-form .checkbox {
    font-weight: 400;
}
.sky-form .radio + .radio, .sky-form .checkbox + .checkbox {
    margin-top: 0;
}
.column_5 {
    float: none;
    min-height: 41px;
    width: 100%;
    margin-left: 0px;
    padding:5px;
    margin-top:0px;
}
a.button {
    display:block;
    width:82px;
    padding: 10px 20px;
    text-align:center;
    background-color:#F3CF3F;
    color: #FFF;
    min-height:0px;
    border-bottom:3px solid #CFB036;
    text-transform:uppercase;
    font:normal normal bold 1em/120% Arial, Helvetica, sans-serif;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:auto;
    float:left;
}
a.button:hover {
    background-color: #91B522;
    color: #FFF;
}
a.btn_yelow {
    display:block;
    width:82px;
    padding-top:10px;
    padding-right:20px;
    padding-bottom:10px;
    padding-left:20px;
    text-align:center;
    background-color:rgb(243, 207, 63);
    color:rgb(255, 255, 255);
    min-height:0px;
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:rgb(207, 176, 54);
    text-transform:uppercase;
    font:normal normal bold 1em/120% arial, helvetica, sans-serif;
    text-decoration:none;
    border-top-left-radius:5px 5px;
    border-top-right-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    border-top-left-radius:5px 5px;
    border-top-right-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -webkit-transform:none;
    -webkit-box-shadow:none;
    -moz-border-radius-topleft:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -moz-border-radius-topright:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
    -moz-border-radius-bottomright:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
    -moz-border-radius-bottomleft:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
}
a.button:active {
    color: #FFF;
    background-color:#e9bd10;
    border-bottom-color:#E9BE10;
}
a.button:visited {
    color: #FFF;
}
a.button {
    margin-right: 0px;
}
a.button {
    margin-left: 116px;
}
a.button {
    margin-left: 58px;
}
a.button {
    margin-left: 87px;
}
a.button {
    margin-left: 70px;
    width:92px;
    margin-top:15px;
}